#logout{
    background-color:lightgreen;
}

body{
    background-image: url("img/wall.jpg");   
    color: white;
}

#signin{
    display:inline;
    background-color:lightgreen;
    margin:10px;
    padding:1em;
    border:solid purple 1px;
}